# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# Terramate
.terramate/
*.tmgen.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Local env files
.env
.env.local

# Cloud function zips
*.zip
node_modules/
package-lock.json